body{
  
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1{
  text-align: center;
  color: rgb(34, 189, 189);
}




canvas {
background-image: url(bg.png);
  display: block;
  margin: auto;
  background-size: cover;

}
#button{
  text-align: center;
}
button{
  margin:15px;
  padding: 10px 20px;
  font-size: 30px;
  background-color: #216fce;
  color: #fff;
  border: none;
  cursor: pointer;
border-radius: 10px;

}
.button{
  position: relative;
  width: 100%;
}
 #left ,#right {
  padding: 30px 50px;
  
}
#up ,#down{
  padding: 50px 30px;
}
.button1{
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;

}
.button2{
position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;


}
#Hema{
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
